body{
    background: #f1f1f1;
    color: #444;
}
.mycontainer{
    height: 98%;
}
.content{
    min-height: 100%;
    padding-top: 50px;
}
.menu{
    background-color: #222;
    /*border-color: #080808; */
    padding-top: 50px;
    min-height: 100%;
}

.ulmenu{
    max-height: 100%;
    overflow-y: hidden;
}
.logout{
    float: right;
}
#settings > h1{
    text-align: center;
    margin-top: 20px;
}
.centercv{
    margin: 0 auto;
    width: 70%;
    padding-right: 100px;
}
.sumb{
    text-align: center;
}
.registerfail{
    text-align: center;
}
.reglink{
    text-decoration: none;
    color: inherit;
}
